@model FilRouge.MVC.ViewModels.QuizzViewModel

@{
    ViewBag.Title = "QuizzViewModel";
}

<table>
    @Html.HiddenFor(m => m.QuizzId)
    <tr>
        <td>@Html.Label("Nom du Candidat : ")</td>
        <td>@Html.EditorFor(m => m.NomUser)</td>

        <td>@Html.Label("Prénom du Candidat : ")</td>
        <td>@Html.EditorFor(m => m.PrenomUser)</td>
    </tr>
    <tr>
        <td>@Html.Label("Question Libre ? ")</td>
        <td>@Html.CheckBoxFor(m => m.QuestionLibre)</td>
        <td>@Html.ValidationMessageFor(m => m.QuestionLibre)</td>
    </tr>
    <tr>
        <td>@Html.Label("Nombre de Questions ? ")</td>
        <td>@Html.EditorFor(m => m.NombreQuestion)</td>
    </tr>
    <tr>
        <td>@Html.Label("Difficulté du quizz : ")</td>
        <td>
            @Html.DropDownListFor(m => m.DifficultyId, (List<SelectListItem>)ViewBag.Difficulties, "Selectionnez une difficulté")
            @Html.ValidationMessageFor(m => m.DifficultyId)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Technologie du quizz : ")</td>
        <td>
            @Html.DropDownListFor(m => m.TechnologyId, (List<SelectListItem>)ViewBag.Technologies, "Selectionnez une Technologie")
            @Html.ValidationMessageFor(m => m.TechnologyId)
        </td>
    </tr>
    <tr>
        <td>@Html.Label("Créateur du quizz : ")</td>
        <td>
            @Html.DropDownListFor(m => m.ContactId, (List<SelectListItem>)ViewBag.Contact, "Selectionnez le créateur du quizz")
            @Html.ValidationMessageFor(m => m.ContactId)
        </td>
    </tr>
</table>


