@model FilRouge.MVC.Entities.DifficultyRate
@{
    ViewBag.Title = "Details";
}

<h2>Taux de difficulté @Model.Difficulty.DifficultyName dans @Model.DifficultyMaster.DifficultyName</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Difficulté Quizz : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DifficultyMaster.DifficultyName)
        </dd>
        <dt>
            @Html.Label("Difficulté Questions : ")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty.DifficultyName)
        </dd>
        <dt>
            @Html.Label("Rate : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DifficultyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
