@model FilRouge.MVC.ViewModels.QuestionViewModel
@using FilRouge.MVC.Models;
@{
	ViewBag.Title = "_ReponseQuestionQuizz";
}
@Html.Hidden("Qid", Model.QuestionId)

<div class="row">
	<div class="col-md-12">
		<div class="col-md-4">
			@Html.DisplayFor(m => m.Content)
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			@Html.LabelFor(m => m.Commentaire)
			@Html.EditorFor(m => m.Commentaire)
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			@if (Model.AnswerType == AnswerTypeEnum.SaisieLibre)
			{
				<textarea name="reponseLibre"> choix libre</textarea> }
			else
			{
				foreach (var reponse in Model.Reponses)
				{
					<div class="panel panel-primary">
						<div style="padding:15px;">
							@Html.Label("Reponse" + reponse.Content, (string)reponse.Content)
							@Html.CheckBox("BonneReponse" + reponse.ReponseId, htmlAttributes: new { id = "BonneReponse" + reponse.ReponseId })
							<br />
						</div>
					</div>
				}
			}


		</div>
	</div>
</div>
