@model FilRouge.MVC.ViewModels.QuizzViewModel
@section scripts {

	@Scripts.Render("~/bundles/jqueryAjax")
	@Scripts.Render("~/bundles/jquery")

}
@{	ViewBag.Title = "Test"; }

<h2>Test</h2>
<div class="row">
	<div class="col-md-4">
		@Html.HiddenFor(m => m.QuizzId)
		<h1> Verification</h1>
	</div>
	<div class="col-md-4">
		@Html.LabelFor(m => m.NomUser)
		@Html.DisplayFor(m => m.NomUser)
	</div>
	<div class="col-md-4">
		@Html.LabelFor(m => m.PrenomUser)
		@Html.DisplayFor(m => m.PrenomUser)
	</div>
	@using (Ajax.BeginForm("QuestionQuizz", "Quizz", new { quizzId = Model.QuizzId }, new AjaxOptions
	{ HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AffichageQuestionId" }))
	{
		<div id="AffichageQuestionId"> Cliquez sur suivant pour commencer le test</div>
		<input type="submit" value="Suivant" />
	}


	<div id="AffichageQuestionId"> Cliquez sur suivant pour commencer le test</div>
</div>


